@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,600;1,500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body: Inter;
  --h1: "Zilla Slab";
  --font-poppins: Poppins;
  --font-newsreader: Newsreader;

  /* font sizes */
  --body-size: 1.25rem;
  --font-size-base: 1rem;
  --h2-size: 1.563rem;
  --font-size-13xl: 2rem;
  --font-size-lgi: 1.188rem;
  --font-size-7xl: 1.625rem;
  --h1-size: 2.25rem;
  --font-size-3xl: 1.375rem;
  --font-size-10xl: 1.813rem;
  --font-size-2xl: 1.313rem;
  --font-size-mid: 1.063rem;
  --font-size-11xl: 1.875rem;
  --font-size-5xl: 1.5rem;

  /* Colors */
  --color-white: #fff;
  --color-darkslateblue-100: #092969;
  --color-darkslateblue-200: #00225d;
  --highlight-head: #000;
  --color-gray-100: #fefefe;
  --color-gray-200: #888;
  --light-head: #777;
  --color-gray-300: #232323;
  --color-gray-400: rgba(0, 8, 28, 0.3);
  --color-royalblue: #4c70ed;
  --color-dodgerblue: #668aff;
  --color-ghostwhite: #f8faff;
  --color-lightsteelblue-100: #c3daff;
  --color-lightsteelblue-200: #bdc4ff;
  --color-lightsteelblue-300: #a8aae1;
  --color-cornflowerblue: #6e82ca;
  --color-steelblue: #3b5c9c;
  --color-whitesmoke-100: #f7f7f7;
  --color-whitesmoke-200: #f4f4f4;
  --color-whitesmoke-300: #f4f3f3;
  --color-whitesmoke-400: #eee;
  --color-mediumslateblue: #3455ff;
  --color-midnightblue: #012363;
  --color-gainsboro-100: #e6e4e4;
  --color-gainsboro-200: #d9d9d9;
  --color-aliceblue: #eff6ff;
  --color-silver: #c5c5c5;
  --color-lightskyblue: #afbdff;
  --color-darkgoldenrod: #bb7107;
  --color-linen: #f7f0e6;
  --color-teal: #008484;
  --color-azure: #e0f0f1;
  --color-blue: #5200ff;
  --color-lavender: #e7e8ff;
  --color-mediumpurple: #8287ff;
  --color-dimgray: #525252;
  --color-darkslategray: #2d2d2d;

  /* Gaps */
  --gap-lgi: 1.187rem;
  --gap-19xl: 2.375rem;
  --gap-21xl: 2.5rem;
  --gap-xl: 1.25rem;
  --gap-xs: 0.75rem;
  --gap-2xs: 0.687rem;
  --gap-12xl: 1.937rem;
  --gap-mini: 0.937rem;
  --gap-41xl: 3.75rem;
  --gap-11xl: 1.875rem;
  --gap-3xl: 1.375rem;
  --gap-186xl: 12.812rem;
  --gap-lg: 1.125rem;
  --gap-8xl: 1.687rem;
  --gap-22xl: 2.562rem;
  --gap-14xl: 2.062rem;
  --gap-base: 1rem;
  --gap-8xs: 0.312rem;
  --gap-17xl: 2.25rem;
  --gap-9xs: 0.25rem;
  --gap-18xl: 2.312rem;
  --gap-41xl-5: 3.781rem;
  --gap-lgi-5: 1.218rem;
  --gap-11xl-2: 1.887rem;
  --gap-lgi-9: 1.243rem;
  --gap-125xl-7: 9.043rem;
  --gap-53xl: 4.5rem;
  --gap-5xl-7: 1.543rem;
  --gap-12xs: 0.062rem;
  --gap-44xl-3: 3.956rem;
  --gap-13xl: 2rem;
  --gap-44xl: 3.937rem;

  /* Paddings */
  --padding-4xl: 1.437rem;
  --padding-17xl: 2.25rem;
  --padding-53xl: 4.5rem;
  --padding-49xl: 4.25rem;
  --padding-15xl: 2.125rem;
  --padding-10xs: 0.187rem;
  --padding-35xl: 3.375rem;
  --padding-45xl: 4rem;
  --padding-42xl: 3.812rem;
  --padding-7xl: 1.625rem;
  --padding-16xl: 2.187rem;
  --padding-21xl: 2.5rem;
  --padding-13xl: 2rem;
  --padding-32xl: 3.187rem;
  --padding-9xl: 1.75rem;
  --padding-xl: 1.25rem;
  --padding-3xl: 1.375rem;
  --padding-76xl-8: 5.987rem;
  --padding-43xl: 3.875rem;
  --padding-9xs: 0.25rem;
  --padding-5xs: 0.5rem;
  --padding-3xs: 0.625rem;
  --padding-6xs: 0.437rem;
  --padding-12xs: 0.062rem;
  --padding-86xl-8: 6.612rem;
  --padding-26xl: 2.812rem;
  --padding-50xl: 4.312rem;
  --padding-8xs: 0.312rem;
  --padding-109xl: 8rem;
  --padding-10xl: 1.812rem;
  --padding-37xl: 3.5rem;
  --padding-29xl: 3rem;
  --padding-7xs: 0.375rem;
  --padding-18xl: 2.312rem;
  --padding-119xl: 8.625rem;
  --padding-27xl: 2.875rem;
  --padding-6xl: 1.562rem;
  --padding-mid: 1.062rem;
  --padding-38xl: 3.562rem;
  --padding-11xs: 0.125rem;
  --padding-34xl: 3.312rem;
  --padding-2xl: 1.312rem;
  --padding-smi: 0.812rem;
  --padding-48xl: 4.187rem;
  --padding-87xl-8: 6.675rem;
  --padding-14xl: 2.062rem;
  --padding-88xl: 6.687rem;
  --padding-70xl: 5.562rem;
  --padding-90xl: 6.812rem;
  --padding-51xl: 4.375rem;
  --padding-52xl: 4.437rem;
  --padding-25xl: 2.75rem;
  --padding-8xl: 1.687rem;
  --padding-11xs-7: 0.106rem;
  --padding-4xs-4: 0.525rem;
  --padding-2xs: 0.687rem;
  --padding-35xl-3: 3.393rem;
  --padding-30xl: 3.062rem;
  --padding-5xl: 1.5rem;
  --padding-24xl-1: 2.693rem;
  --padding-158xl: 11.062rem;
  --padding-336xl: 22.187rem;
  --padding-592xl: 38.187rem;
  --padding-600xl: 38.687rem;
  --padding-135xl: 9.625rem;
  --padding-133xl: 9.5rem;
  --padding-290xl: 19.312rem;
  --padding-286xl: 19.062rem;
  --padding-lgi: 1.187rem;
  --padding-22xl: 2.562rem;
  --padding-lg-7: 1.168rem;
  --padding-24xl: 2.687rem;
  --padding-8xl-4: 1.712rem;
  --padding-47xl-8: 4.175rem;
  --padding-11xs-6: 0.1rem;

  /* Border radiuses */
  --br-xs: 12px;
  --br-6xs: 7px;
  --br-3xs: 10px;
  --br-45xl: 64px;
  --br-20xl: 39px;
  --br-11xs-7: 1.7px;
  --br-mini-3: 14.3px;
  --br-10xl: 29px;
  --br-10xs: 3px;
  --br-4xs: 9px;
  --br-xl: 20px;
}
